### Compiled class files
*.class

### Gradle
/.gradle
/build
gradle-app.setting

### Eclipse / IntelliJ / VS Code
.classpath
.project
.settings/
.idea/
*.iml
.vscode/

### macOS
.DS_Store

### Logs
*.log

### Temporary files
*.tmp
*.bak

### Distribution
/out/
/target/

### IDE specific
*.swp
